<form (ngSubmit)="applyFilters()">
    <div class="accordion mb-4" id="orderByAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOrder"
                    aria-expanded="true"
                    aria-controls="collapseOrder"
                >
                    Ordenar
                </button>
            </h2>
            <div id="collapseOrder" class="accordion-collapse collapse show" data-bs-parent="#orderByAccordion">
                <div class="accordion-body" id="order-by-filter w-100">
                    <label for="order-by" class="form-label">Ordenar resultados por:</label>
                    <select name="order-by" id="order-by" class="form-select" [(ngModel)]="selectedOrder">
                        @for(orderByOption of orderByOptions | keyvalue: originalOrder; track orderByOption.key){
                        <option value="{{ orderByOption.key }}">{{ orderByOption.value }}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion mb-4" id="watchProvidersAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseProviders"
                    aria-expanded="true"
                    aria-controls="collapseProviders"
                >
                    Dónde se puede ver <span class="badge text-bg-secondary ms-2">{{ watchProviders().length }}</span>
                </button>
            </h2>
            <div id="collapseProviders" class="accordion-collapse collapse show" data-bs-parent="#watchProvidersAccordion">
                <div class="accordion-body" id="watch-providers w-100">
                    <!--<div id="watch-type"> NOT WORKING IN API
                        @for(monetizationType of watchMonetizationTypes | keyvalue; track monetizationType.key) {
                        <div class="form-check mb-3">
                            <input
                                type="checkbox"
                                id="watchType{{ monetizationType.key }}"
                                name="{{ monetizationType.key }}"
                                class="form-check-input"
                                (change)="updateSelectedMonetizationType($event, monetizationType.key)"
                            />
                            <label for="watchType{{ monetizationType.key }}" class="form-check-label">{{ monetizationType.value }}</label>
                        </div>
                        }
                    </div>-->
                    <div id="watch-providers">
                        @for (watchProvider of watchProviders(); track watchProvider.id; let i = $index) {
                        <div class="watch-provider">
                            <input
                                type="checkbox"
                                id="watchProvider{{ watchProvider.id }}"
                                name="{{ watchProvider.providerName }}"
                                (change)="updateSelectedProvider($event, watchProvider)"
                            />
                            <label for="watchProvider{{ watchProvider.id }}"
                                ><img
                                    [src]="'https://image.tmdb.org/t/p/original/' + watchProvider.logoPath"
                                    alt="{{ watchProvider.providerName }}"
                                    class="watch-provider-logo"
                            /></label>
                        </div>
                        } @empty {
                        <p>No watch providers were found for your region.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion mb-4" id="filterAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFilter"
                    aria-expanded="true"
                    aria-controls="collapseFilter"
                >
                    Filtrar
                </button>
            </h2>
            <div id="collapseFilter" class="accordion-collapse collapse show" data-bs-parent="#filterAccordion">
                <div class="accordion-body" id="order-by-filter w-100">
                    <label for="order-by" class="form-label">Géneros:</label>
                    <div id="genre-buttons">
                        @for(movieGenre of movieGenres(); track movieGenre.id){
                            <input type="checkbox" class="btn-check" id="genre-{{movieGenre.id}}" autocomplete="off" (change)="updateSelectedGenre($event, movieGenre)">
                            <label class="btn rounded-pill" for="genre-{{movieGenre.id}}">{{movieGenre.name}}</label>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10 mt-4">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>
