/*Bootstrap override*/
.accordion-button {
    background-color: var(--bs-accordion-btn-bg) !important;
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    color: var(--text-color);
}

#watch-providers {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    row-gap: 10px;
    column-gap: 10px;

    .watch-provider {
        width: 50px;
    }

    input[type="checkbox"][id^="watchProvider"] {
        display: none;
    }

    label {
        width: 50px;
        height: 50px;
        position: relative;
        cursor: pointer;
    }

    label img {
        height: 100%;
        border-radius: 8px;
    }

    :checked + label {
        border-color: #ddd;
    }

    :checked + label::after {
        content: "\F26E";
        font-family: "bootstrap-icons";
        font-size: 35px;
        color: white;
        line-height: 45px;
        text-align: center;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 46px;
        height: 46px;
        background-image: linear-gradient(
            120deg,
            rgba(1, 180, 228, 0.7),
            rgba(1, 180, 228, 0.7)
        );
        border-radius: 7px;
    }

    :checked + label img {
        transform: scale(0.9);
        box-shadow: 0 0 5px #333;
        z-index: -1;
    }
}
