/*NAV*/

.navbar {
    background-color: var(--primary-color);
    --bs-navbar-color: var(--bs-light);
    --bs-navbar-hover-color: var(--bs-light);
    --bs-navbar-active-color: var(--bs-light);
    --bs-navbar-padding-y: .75rem;
}

.navbar div[class*='container'] {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
}

.navbar-expand .navbar-nav .nav-item {
    font-weight: 600;
    margin-right: .2em;
    font-size: 1.1em;
}

.navbar-expand .navbar-nav .nav-item .active {
    color: var(--accent);
}

.navbar-expand .navbar-nav-right .nav-item {
    margin-left: 1rem;
}

.navbar .navbar-nav .nav-item i {
    height: 100%;
}

.navbar .navbar-nav .nav-item:has(> button),
.navbar .navbar-nav .nav-item:has(> .nav-link > i) {
    display: flex;
    align-items: center;
}

.navbar .navbar-nav .nav-item .nav-link:has(> i) {
    padding: 0;
}

.navbar i.bi-search {
    color: #01b4e4;
}

.navbar i {
    font-size: 1.2rem;
}

.navbar img {
    height: 45px;
}

.nav-item a {
    &:hover{
        color: var(--accent);
    }
}