.card {
    img {
        aspect-ratio: 2 / 3;
        object-fit: fill;

        &.no-image {
            transform: scale(0.5);
        }
    }

    .poster-container {
        background-color: #dbdbdb;
    }

    .card-title {
        font-weight: 700;
        margin: 0;
        line-height: 1.25em;
        a {
            text-decoration: none;
            color: var(--text-color);

            &:hover {
                color: var(--accent);
            }
        }
    }
    .card-body > p {
        margin-bottom: 0.5em;
    }
}
