<div class="card mb-3">
    <div class="row">
        <div class="col-4 col-sm-2 col-xl-1 rounded-start">
            <div class="poster-container">
                <img
                    [src]="
                        list().posterPath === null ? '/img/no-image-placeholder.svg' : 'https://image.tmdb.org/t/p/w500' + list().posterPath
                    "
                    alt=""
                    [class.no-image]="list().posterPath === null"
                    class="img-fluid"
                />
            </div>
        </div>
        <div class="col-8 col-sm-10 col-xl-11">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title"><a [routerLink]="['/lists', list().id!]">{{ list().title }}</a></h5>
                    <button (click)="deleteList()" class="btn btn-danger btn-sm fw-bold"><i class="bi bi-trash-fill"></i></button>
                </div>
                <p class="card-subtitle">{{ list().movies.length }} películas</p>
                <p class="card-text">{{ list().description }}</p>
            </div>
        </div>
    </div>
</div>
