.card {
    height: 100%;
  .card-title {
    font-weight: 700;
    margin: 0;
    a {
      text-decoration: none;
      color: var(--text-color);

      &:hover {
        color: var(--light-blue);
      }
    }
  }
  .card-footer {
    font-weight: 600;
    color: var(--primary-color);
  }
}

.card .movie-date {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
