<div class="rate">
    <!--LOOP RATES-->
    <div class="row rate-header">
        <div class="col-md-8 ">
            <h4>{{ watchRateTypes.get(filteredRates()!.rate) }}</h4>
        </div>
        <div class="col-md-4">
            <select name="" id="" [(ngModel)]="selectedRateType" class="form-select">
                @for (watchRateType of watchRateTypes | keyvalue; track watchRateType.key){
                <option value="{{ watchRateType.key }}">{{ watchRateType.value }}</option>
                }
            </select>
        </div>
    </div>
    <div class="rate-body card">
        <!--LOOP COUNTRIES-->
        @for (countryRateProviders of filteredRates()!.countries | keyvalue; track countryRateProviders.key) {
        <h5>{{ countryRateProviders.key | intlRegion : "ES" }}</h5>
        <!--LOOP PROVIDERS-->
        <div class="country">
            @for (watchProvider of countryRateProviders.value; track watchProvider.id) {
            <div class="watch-provider">
                <img
                    [src]="'https://image.tmdb.org/t/p/original/' + watchProvider.logoPath"
                    alt="{{ watchProvider.providerName }}"
                    class="watch-provider-logo"
                />
                <p>{{ watchProvider.providerName }}</p>
            </div>
            }
        </div>
        }@empty {
        <p>No existen opciones para esta tarifa.</p>
        }
    </div>
</div>