<div class="dropdown d-grid">
    <button class="d-block form-select text-start" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="dropdown-flag" [src]="'img/flags/' + region().toLowerCase() + '.png'" [alt]="selectedRegion() + ' flag'" />
        {{ selectedRegion() }}
    </button>
    <ul class="dropdown-menu">
        <li>
            <form class="px-3 py-1">
                <input [(ngModel)]="regionFilter" type="text" name="region-filter" class="form-control" id="region-select-search" placeholder="Search..." />
            </form>
        </li>
        @for(regionCode of regionCodesMap() | keyvalue: originalOrder; track regionCode.key){
        <li>
            <button class="dropdown-item" [class.active]="regionCode.key === region()" (click)="selectRegion(regionCode.key)" type="button">
                <img
                    class="dropdown-flag"
                    [src]="'img/flags/' + regionCode.key.toLowerCase() + '.png'"
                    [alt]="regionCode.value + ' flag'"
                />
                {{ regionCode.value }}
            </button>
        </li>
        }
    </ul>
</div>
