.dropdown-menu {
    width: 100%;
    --bs-dropdown-link-active-bg: var(--bs-dropdown-link-hover-bg);
    --bs-dropdown-link-active-color: var(--text-color);
}

.dropdown-flag {
    height: 1.25rem;
    padding-right: 0.25rem;
}

