.card {
    height: 100%;

    button#add {
        position: absolute;
        top: 1em;
        right: 1em;
        background-color: var(--primary-color);
        &:hover {
            background-color: var(--primary-color-darker);
        }   
    }

    .dropdown-menu li button[disabled]{
        text-decoration: none;
    }

    & > a {
        background-color: #dbdbdb;

        img {
            aspect-ratio: 2 / 3;
            object-fit: fill;

            &.no-image {
                transform: scale(0.5);
            }
        }
    }

    .card-title {
        font-weight: 700;
        margin: 0;
        line-height: 1.25em;
        a {
            text-decoration: none;
            color: var(--text-color);

            &:hover {
                color: var(--accent);
            }
        }
    }
    .movie-date {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.6);
    }

    .card-body > p{
        margin-bottom: 0.5em;
    }
    .card-footer {
        font-weight: 600;
        color: var(--primary-color);

        star-rating {
            width: calc(0.65em * 10)
        }
    }

    .vote {
        color: var(--primary-color-darker);
    }
}
