.star-container {
    img {
      cursor: pointer;
      width: 10%;
    }

    .star-full {
      filter: brightness(0) saturate(100%) invert(14%) sepia(99%) saturate(6397%) hue-rotate(335deg) brightness(94%) contrast(94%);
    }
    .star-empty {
      filter: invert(0.9)
    }
  }
  